.toast-error {
    background-color: rgba(255, 0, 0, 0.15); /* pure red at 75% opacity */
    color: black;
    border-left: 4px solid #ff0000;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.btn-outline-purple {
    color: #6f42c1;
    border: 1px solid #6f42c1;
    background-color: transparent;
    transition: 0.3s ease;
}

.btn-outline-purple:hover {
    color: #fff;
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.btn-outline-google {
    color: #1a73e8;
    border: 1px solid #90caf9;
    background-color: transparent;
    transition: all 0.3s ease;
}

.btn-outline-google:hover {
    color: #fff;
    background-color: #4285F4;
    border-color: #4285F4;
}


.btn-outline-green {
    color: #2e7d32;
    border: 1px solid #b7dfb9;
    background-color: transparent;
    transition: all 0.3s ease;
}

.btn-outline-green:hover {
    color: #fff;
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    padding: 3px;
    object-fit: contain;
}

